<!DOCTYPE configuration>
<configuration>
    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <target>System.out</target>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %-5level [%thread] %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="file" class="ch.qos.logback.core.FileAppender">
        <file>perf-test.log</file>
        <append>true</append>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %-5level [%thread] %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

<!--        <logger name="impl.service.com.distributed_task_framework.PartitionTrackerImpl" level="debug"/>-->
<!--    <logger name="impl.service.com.distributed_task_framework.VirtualQueueManagerPlannerImpl" level="debug"/>-->
<!--    <logger name="impl.service.com.distributed_task_framework.VirtualQueueBaseFairTaskPlannerImpl" level="debug"/>-->
<!--    <logger name="com.distributed_task_framework.service.impl.FairGeneralTaskPlannerImpl" level="debug"/>-->

    <root level="info">
        <appender-ref ref="stdout"/>
        <appender-ref ref="file"/>
    </root>
</configuration>